<div ng-controller="RoboLynx.Umbraco.QRCodeLevelPickerController">
    <div ng-if="loaded && !error" ng-init="showInfo(model.value)">
        <select class="umb-editor" ng-options="item.id as item.name for item in availableLevels" ng-model="model.value" ng-change="showInfo(model.value)" ng-required></select>
        <div ng-if="selectedItem && selectedItem.description" class="qrcode-info" ng-bind="selectedItem.description"></div>
    </div>
    <div ng-if="!loaded && !error" style="height: 25px; position: relative; width: 100%">
        <umb-load-indicator></umb-load-indicator>
    </div>
    <span ng-if="error"><span class="icon-alert color-red"></span> {{error}}</span>
</div>