<div class="umb-panel" ng-controller="RoboLynx.Umbraco.GenerateQRCodeDialog">
    <div class="umb-panel-header">
        <!--<div class="umb-el-wrap umb-panel-buttons">
            <div class="form-search">
                <i class="icon-search"></i>
                <input type="text"
                       style="width: 100%"
                       ng-model="searchTerm"
                       class="umb-search-field search-query input-block-level"
                       placeholder="Filter...">
            </div>
        </div>-->
        <h2><localize key="qrCode_dialogHeader">Generate QR Code</localize></h2>
    </div>
    <div class="umb-panel-body with-footer">
        <div ng-if="qrCodeSettingsLoaded && requiredSettingsForFormatsLoaded">
            <umb-control-group label="@qrCode_qrCode">
                <div class="qrcode-holder">
                    <img ng-src="{{qrCode}}" ng-show="qrCodeLoaded && !qrCodeError" class="qrcode-img" />
                    <umb-load-indicator ng-show="!qrCodeLoaded"></umb-load-indicator>
                    <div class="qrcode-icon icon-application-error color-red" ng-if="qrCodeError"></div>
                    <div ng-bind="qrCodeError" ng-if="qrCodeError"></div>
                </div>
                <div ng-if="qrCodeWidth && qrCodeHeight && qrCodeLoaded"><small><localize key="qrCode_imageSize">Image size</localize>: {{qrCodeWidth}} x {{qrCodeHeight}}</small></div>
            </umb-control-group>

            <ng-form name="propertyForm" class="ng-pristine ng-valid" ng-model-options="{ debounce: 1000 }">
                <div ng-repeat="property in settingsModel | orderBy:'order'" ng-init="property.change(property)">
                    <umb-control-group label="{{property.label}}" ng-if="property.show">
                        <umb-property-editor model="property"></umb-property-editor>
                    </umb-control-group>
                </div>
            </ng-form>
        </div>
        <umb-load-indicator ng-if="!qrCodeSettingsLoaded || !requiredSettingsForFormatsLoaded"></umb-load-indicator>
    </div>
    <div class="umb-panel-footer">
        <div class="umb-el-wrap umb-panel-buttons">
            <div class="btn-toolbar umb-btn-toolbar pull-right">
                <button ng-click="close()" class="btn">
                    <localize key="general_cancel">Cancel</localize>
                </button>
                <button ng-click="confirm()" class="btn btn-success">
                    <localize key="general_download">Download</localize>
                </button>
            </div>
        </div>
    </div>
</div>