<div ng-controller="RoboLynx.QRCodeGenerator.OpenDirtyContentController">
    <h4><localize key="qrCode_openDirtyContentHedline">This content has unsaved changes</localize></h4>
    <p><localize key="qrCode_openDirtyContentMsg">QR Code is generate from saved property values of published content. This content has unsaved changes now. It's can make a difference between value which you see and value passed to generate QR Code. Do you want generate QR code anyway?</localize></p>

    <button class="btn btn-warning" ng-click="open(notification)"><localize key="qrCode_generate">Generate</localize></button>
    <button class="btn btn-success" ng-click="close(notification)" umb-auto-focus><localize key="qrCode_publishFirst">I will Save And Publish first</localize></button>
</div>
