<div ng-controller="RoboLynx.Umbraco.QRCodeFormatPicker" >
    <div ng-if="loaded && !error" ng-init="change(model)">
        <select ng-options="item.id as item.name for item in availableFormats" ng-model="model.value" ng-change="change(model)" ng-required></select>
    </div>
    <div ng-if="!loaded && !error" style="height: 25px; position: relative">
        <umb-load-indicator></umb-load-indicator>
    </div>
    <span ng-if="error"><span class="icon-alert color-red"></span> {{error}}</span>
    <!--<span class="help-inline" val-msg-for="integerField" val-toggle-msg="valServer">{{propertyForm.requiredField.errorMsg}}</span>-->
</div>